@import "_nullstyle.scss";
body {
   background-color: rgba(128, 128, 128, 0.637);
}
.container {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
}
.title {
   font-size: 20px;
   font-weight: 600;
   padding: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.clicks {
   margin-bottom: 20px;
   font-size: 20px;
}
.map {
   padding: 50px;
   margin-bottom: 20px;
   background: radial-gradient(circle, rgba(0, 18, 111, 1) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(31, 190, 250, 0) 55%);
}
.tresure-map {
   display: block;
   max-width: 800px;
   width: 100%;
   height: auto;
   object-fit: fill;
}
.distance {
   padding: 10px;
   background-color: rgb(54, 54, 54);
   border-radius: 5px;
   font-size: 18px;
   color: orange;
   letter-spacing: 1.5px;
   margin-bottom: 20px;
}
