@import "_nullstyle.scss";

body {
   background-color: #907551;
}

.container {
   max-width: 1300px;
   margin: 0 auto;
}

#snake {
   max-width: 100%;
   margin: auto 20px;
}

#canvas {
   background: #bda789;
}
