@import "_nullstyle.scss";

body {
   background-color: #907551;
}

.container {
   max-width: 1300px;
   margin: 0 auto;
}

.header {
   padding: 30px 0;
}

#snake {
   max-width: 500px;
   min-width: 200px;
   margin: 0 auto;
}

#canvas {
   background: #bda789;
}
